/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
/.nuxt
/client/static/sw.js
/client/static/uploads
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log

# comment for laravel
/app
/bootstrap
/config
/database
/public
/resources
/routes
/shell
/storage
/tests
artisan
composer.json
composer.lock
docker-compose.yml
phpunit.xml
server.php
