// modify the vuesax default style

.vs-input{
    font-size: 1rem;
    width: 100% !important;
}

.vs-button.m-0{
    margin: 0px !important;
}

label.vs-input__label.vs-input__label--placeholder{
    color: rgba(var(--vs-text), 1);
    width: auto;
}
